.idea/
.xcode/
.qmake.stash
android/*
!android/AndroidManifest.xml
!android/res
!**/src
apologycounter_plugin_import.cpp
apologycounter_qml_plugin_import.cpp
*.user
moc_*.*
Debug*/
makefile
qrc_qml.cpp
*.properties
*.mak
*.xcuserstate
*.autosave

IOSWidget/
